# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules

# temporary build files
.cache

# production build output
dist

# private developer documentation
doc
plan of next steps for Pegs game in JavaScript.txt
original Pegs Flash port
